.my-container {
  width: 375px;
  box-sizing: border-box;
  background-color:  #F3F4F6;
  height: 700px;
  .list-container{
    position: relative;
    top:-42px;
  }
  .my-class-container {
    box-sizing: border-box;
    width: 347px;
    height: 180px;
    border-radius: 15px;
    padding: 14px;
    margin: 14px;
    gap: 0px 10px;
    background: #ffffff;
  }
  .card-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    height: 21px;
    margin-bottom:14px
  }
  .card-list{
    width:319px;
    height: 115px;
    margin: 14px auto;
    white-space: nowrap;
  }
  .card-item{
    display: inline-block;
    height: 108px;
    width: 140px;
    // background-color: red;
    margin-right: 14px;
    border-radius: 7px;
  }
  .card-item-title{
    width: 130px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    // text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
  }
}
